
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

:root {
  --green: rgb(79, 121, 66);
  --off-white: rgb(250, 249, 246);
  --yellow: #ffcd34;
  --text-font-family: 'Karla', sans-serif;
  --heading-font-family: 'Baskervville', serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.homePage {
  overflow-y: hidden;
  height: 100%;
  background-image: url("/homePage.png") !important; 
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  margin: 0;
  color: var(--off-white) !important;
}

.title {
  color: var(--yellow);
  font-size: 90px !important;
  text-transform: lowercase;
  font-weight: 300 !important;
  font-family: var(--heading-font-family) !important;
}

.homeText {
  font-size: 20px;
  font-family: var(--text-font-family) !important;
  font-weight: 300;
  text-transform: lowercase;
}

.homeTextLink {
  font-family: var(--text-font-family) !important;
  font-weight: 300;
  text-transform: lowercase;
}

.result {
  height: 1920px;
  width: 1080px;
  background-image: url("/resultImg.png") !important;
  color: black;
}

.result-template {
  height: 1920px;
  width: 1080px;
}

.result-title {
  font-family: "Livvic", sans-serif;
  line-height: 100%;
  margin: 0 4rem 0 0;
  font-weight: bolder;
  padding: 10px;
  text-align: end;
}

.result-category {
  font-family: "Livvic", sans-serif;
  font-size: 27px;
  font-weight: bold;
  padding: 10px;
  text-align: start;
  margin: 0 0 0 4rem;
}

.results-list {
  font-family: "Livvic", sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
  text-align: start;
  margin: 0 0 6rem 4rem;
}

#submitInput:focus::placeholder {
  color: transparent;
}

#submitBtn:hover {
  color: black;
}

@media screen and (width <= 600px) {

  .homePage{
    padding: 1rem;
  }

  #formBox {
    width: 80%;
  }

  #titleBox {
    display: block;
    text-align: center;
    margin:0.5rem;
  }

  .title {
    margin-left: 0;
    font-size: 70px !important;
  }

  #titleMessageBox {
    width: 100%;
    margin-top: 1rem;
  }

  .homeText {
    width: 100%;
  }

  .homeTextLink {
    width: 100%;
    /* font-size: 10px; */
  }

  #inputBox {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    display: block;
  }

  .inputBox {
    width: 100% !important;
    margin-bottom: 1rem;
  }

  #submitInput {
    width: 100%;
  }

  #submitBtn {
    padding: 8px;
  }

  .btnBox {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0 !important;
  }

  #loadingIconBox {
    margin-top: 0.5rem;
  }
  
  #downloadBtnBox {
    margin-top: 0.5rem;
  }

}


